.container {
  width: 80%;
  min-width: 250px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  min-width: 250px;
  margin: 15px;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 15px;
}
.card-header {
  font-size: 18px;
  font-weight: bold;
}
.card-title {
  padding: 15px;
  font-size: 18px;
}
.card-body::-webkit-scrollbar {
  width: 0.7em;
}

.card-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.card-body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
